:root {
    --font-size: 1rem;
}

body {
    background-color: #e7efef;
    font-family: "Roboto", sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-overview {
    padding: 0px;
}

.header > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-overview-title {
    font-family: "Yellowtail", cursive;
    font-size: 6rem;
    line-height: 110px;
    color: #4b4b4b;
    font-weight: 400;
}

.header-overview-navbar {
    display: flex;
    align-content: center;
}

.header-overview-navbar > a {
    font-weight: bold;
    font-size: var(--font-size);
    text-decoration: none;
    color: #8c8b8c;
    border-left: 2px dashed;
    padding: 0 8px 0 10px;
}

.header-overview-navbar > a:first-child {
    border-left: none;
}

.header-mailbox {
    background-color: #fff;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .header-mailbox-content {
    margin-left: 10%;
    margin-right: 10%;
} */
.header-mailbox-stemp {
    position: absolute;
    width: 25% !important;
    display: flex;
    top: -40%;
    left: 85%;
}

.header-mailbox-content {
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.header-mailbox-content > p {
    font-weight: bold;
    font-size: var(--font-size);
    white-space: nowrap;
}

.header-mailbox .stripe {
    width: 100%;
}

.email-content {
    display: flex;
    justify-content: space-between;
}

.email-content > input {
    width: 70%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-left: 10px;
}

.email-content > button {
    background: linear-gradient(to bottom, #cacaca 50%, #b3b3b3 50%);
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: #fcfcfc;
    border: 1px solid #e2e2e2;
    padding-left: 50px;
    padding-right: 50px;
}
.main-highlight {
    width: 100%;
}

.main-highlight > .row {
    display: flex;
    align-items: center;
}

.main-highlight-news {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 30px 0px;
    flex-direction: column;
}
.main-highlight-news-title {
    font-weight: bold;
    font-size: 31px;
}

.main-highlight-news-img {
    width: 100%;
    height: 40vh;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
}

.main-highlight-news-img > div {
    width: calc(100% - 20px); /* Subtract 10px padding from each side */
    height: calc(100% - 20px); /* Subtract 10px padding from each side */
    background-position: center;
    background-color: rgb(255, 85, 85);
}

.main-highlight-news p {
    font-size: var(--font-size);
    color: #8c8b8c;
}

.main-highlight-discount {
    position: relative;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    padding: 30px 0px 30px 30px;
    height: 100%;
}

.main-highlight-discount-info {
    background-size: cover; /* Tuỳ chỉnh kích thước nếu cần */
    /* Các thuộc tính CSS khác tùy chỉnh */
    width: 100%;
    height: calc(100%-4px);
    background-size: cover;
    background-image: url(./asset/bill-bg.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-left: #e5e5e5 1px solid;
    border-right: #e5e5e5 1px solid;
    z-index: 2;
}

.discount-title {
    display: flex;
    color: #8c8b8c;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
    font-size: var(--font-size);
}

.discount-title {
    padding-top: 30px;
    border-bottom: #e5e5e5 1px solid;
    margin-bottom: 3px;
}

.discount-time-remain {
    display: flex;
    justify-content: center;
    font-size: var(--font-size);
    font-weight: bold;
    border-top: #e5e5e5 1px solid;
    border-bottom: #e5e5e5 1px solid;
    padding: 10px;
}

.discount-percent {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 60px;
    color: #4b4b4b;
    font-weight: bold;
    font-family: "Helvetica";
    text-align: center;
    border-bottom: #e5e5e5 1px dashed;
    margin-left: 20px;
    margin-right: 20px;
}

.discount-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    border-bottom: #e5e5e5 1px dashed;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.discount-title {
    color: #8c8b8c;
}

.discount-title-1 {
    color: #8c8b8c;
    border-top: #e5e5e5 1px solid;
    margin-top: 3px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    font-size: var(--font-size);
    padding: 10px;
    padding-bottom: 5px;
}

.discount-money {
    color: #4b4b4b;
    font-weight: bold;
}

.discount-title-2 {
    color: #8c8b8c;
    margin-bottom: 3px;
    font-weight: bold;
}

.discount-contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: none;
}

.p-highlight {
    padding: 0px;
    padding-top: 0px;
    display: flex;
    font-family: "Roboto", sans-serif;
    color: #8c8b8c;
}

.button-highlight-div {
    padding: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button-highlight {
    font-size: var(--font-size);
    line-height: 25px;
    color: #5d7730;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #c6de85 50%, #aed268 50%);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    border: #94af5b 1px solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    border-top: #e5e5e5 1px dashed;
    border-bottom: #e5e5e5 1px dashed;
}

.brand > img {
    flex: 1; /* Cho phép các ô con chiếm toàn bộ không gian của phần tử cha */
    min-width: 0; /* Đảm bảo các ô con có thể bị thu gọn khi không đủ không gian */
    margin: 25px; /* Tạo khoảng cách giữa các ô con */
}

.deal.container {
    padding: 0px;
}

.deal-info-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.deal-info-container {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    flex-direction: column;
    padding: 10px;
}

.deal-info-container > img {
    width: calc(100%);
    height: 15vh;
    background-position: center;
    background-color: rgb(255, 85, 85);
}

.deal-info-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
}

.deal-info-detail > div {
    flex: 1;
}

.deal-info-detail .title {
    font-weight: bold;
    font-size: var(--font-size);
    color: #8c8b8c;
    display: flex;
    justify-content: center;
}

.deal-info-detail .price {
    font-weight: bold;
    font-size: var(--font-size);
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
}

.discount-block {
    border-left: 1px dashed #e5e5e5;
    border-right: 1px dashed #e5e5e5;
}

.deal-info {
    margin-top: 10px;
}

.deal-info:nth-child(2) {
    border-left: 1px dashed #e5e5e5;
    border-right: 1px dashed #e5e5e5;
}

.deal-info-remain {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 20px;
}

.deal-info-remain > .time {
    font-weight: bold;
    font-size: 10px;
    color: #8c8b8c;
    display: flex;
    align-items: center;
}

.deal-info-remain > button {
    font-size: var(--font-size);
    color: #5d7730;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #c6de85 50%, #aed268 50%);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    border: #94af5b 1px solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-info {
    display: flex;
    padding: 0;
}
.footer-info .title {
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.footer-twitter {
    border-left: 1px dashed #e5e5e5;
    border-right: 1px dashed #e5e5e5;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-twitter > * {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-info.row > div {
    padding-top: 10px;
}

.footer-info.row .title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: var(--font-size);
}

.footer-info.row p {
    font-size: var(--font-size);
    color: #8c8b8c;
}

.footer-twitter button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #8c8b8c;
    font-size: var(--font-size);
    padding: 5px 10px 5px 10px;
}

.twitter-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.twitter-container .content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.twitter-container .content:first-child {
    border-bottom: #e5e5e5 1px dashed;
    padding-top: 0;
}

.other-page-container {
    display: flex;
    flex-direction: column;
}

.other-page-container > a {
    border-bottom: #e5e5e5 1px dashed;
    padding-top: 10px;
    padding-bottom: 10px;
}

.other-page-container > a:first-child {
    padding-top: 0;
}

.footer-info a {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
    color: #5d7730;
    text-decoration: none;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size);
    text-align: center;
}

footer p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #8c8b8c;
}

footer a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1024px) {
    img.header-mailbox-stemp {
        visibility: hidden;
        display: none;
    }
    .main-highlight > .row > div {
        padding: 2rem;
    }
    .main-highlight-discount-info {
        width: 250px;
    }
    .main-highlight-discount {
        align-items: center;
    }
    .button-highlight-div {
        padding: 0px;
    }

    .header-mailbox-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .email-content {
        flex-direction: column;
        align-items: center;
    }
    .email-content > * {
        margin-bottom: 1rem;
    }
    .button-highlight-div {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .header-mailbox-content p {
        white-space: normal; /* Allow text to wrap on larger screens */
        max-width: 400px; /* Set a specific max-width for larger screens */

        overflow: hidden; /* Hide the content that overflows the viewport */
        text-overflow: ellipsis; /* Display an ellipsis (...) when content overflows */
        display: flex;
        text-align: center;
    }
    .brand {
        flex-direction: column;
    }
}
